# Node.js (legacy)
node_modules
.nyc_output

# Spring Boot / Java
target/
!.mvn/wrapper/maven-wrapper.jar
*.class
*.jar
*.war
*.log
.idea/
*.iml
.settings/
.project
.classpath

# Build & Coverage
coverage/
test-results.xml
.talismanrc

# Other
solar-system.png.terraform/
terraform/.terraform/
*.tfstate
*.tfstate.backup
terraform.tfvars
